name: Run tests, build examples
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
    test-windows:
        name: Windows
        strategy:
            matrix:
                os: [windows-latest]
                dc: [dmd-latest, ldc-latest, dmd-2.089.0, ldc-1.19.0]
        runs-on: ${{ matrix.os }}
        steps:
            - uses: actions/checkout@v2

            - name: Install D compiler
              uses: dlang-community/setup-dlang@v1
              with:
                  compiler: ${{ matrix.dc }}

            - name: Run unittests
              run: dub run libsoundio-d:unit-tests

            - name: Build examples and tests
              run: |
                dub build libsoundio-d:sine
                dub build libsoundio-d:list-devices
                dub build libsoundio-d:microphone
                dub build libsoundio-d:record
                dub build libsoundio-d:backend-disconnect-recover
                dub build libsoundio-d:latency
                dub build libsoundio-d:overflow
                dub build libsoundio-d:underflow

            - name: Build with --combined
              run: dub build --combined libsoundio-d:sine
    test-linux:
        name: Linux
        strategy:
            matrix:
                os: [ubuntu-latest]
                dc: [dmd-latest, ldc-latest, dmd-2.089.0, ldc-1.19.0]
        runs-on: ${{ matrix.os }}
        steps:
            - uses: actions/checkout@v2

            - name: Install ALSA and PulseAudio
              run: sudo apt-get install libasound2 libasound2-dev pulseaudio libpulse-dev

            - name: Install D compiler
              uses: dlang-community/setup-dlang@v1
              with:
                  compiler: ${{ matrix.dc }}

            - name: Run unittests
              run: dub run libsoundio-d:unit-tests

            - name: Build examples
              run: |
                dub build libsoundio-d:sine
                dub build libsoundio-d:list-devices
                dub build libsoundio-d:microphone
                dub build libsoundio-d:record
                dub build libsoundio-d:backend-disconnect-recover
                dub build libsoundio-d:latency
                dub build libsoundio-d:overflow
                dub build libsoundio-d:underflow

            - name: Build with --combined
              run: dub build --combined libsoundio-d:sine
